[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "simplegraphdb"]
	path = simplegraphdb
	url = https://github.com/mikeasilva/simplegraphdb
